* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dddfe0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.6);
}
.cont {
  background-color: #fff;
  margin-top: 80px;
}
.navbar {
  padding: 0 !important;
}

nav ul li.nav-item a {
  border-bottom: 1px solid #fff;
}

nav ul li.nav-item a:hover {
  border-bottom: 1px solid blue;
  color: blue !important;
}

.profile {
  height: 170px;
  width: 170px;
  border: 3px solid blue;
  margin-top: -40px;
}
.my-card {
  text-align: center;
}
div span i.social-icon {
  background-color: white;
  padding: 5px;
  color: blueviolet;
  font-size: 25px;
  border-radius: 100%;
  width: 40px;
  border: 1px solid blueviolet;
  cursor: pointer;
  text-align: center;
}
div span i.social-icon:hover {
  background-color: blueviolet;
  color: white;
  transition: ease-in-out all 0.5s;
}

.skills .header {
  display: block;
  text-align: center;
  font-size: 40px;
  background-color: #dddfe0;
  font-family: "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}
.card img {
  height: 150px;
}
